@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

#logo-azal {
  height: fit-content;

  path {
    fill: white;
  }
}

#currency-button {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 12px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
}

#language-button {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 12px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
}

#account-button {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 12px;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
}

#hamburger-menu {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 14px;
  line-height: 24px;
}
